{% extends 'donation_app/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div>
        <div class="slogan container container--90 text-center">
            <h2>Imię: {{ user.first_name }}</h2><br>
            <h2>Nazwisko: {{ user.last_name }}</h2><br>
            <h2>E-mail: {{ user.email }}</h2>
        </div>
    </div>

    <h1>Przekazane dary:</h1>
    <table class="donation--table">
        <tr>
            <th>Lp.</th>
            <th>Organizacja</th>
            <th>Ilość worków</th>
            <th>Zawartość</th>
            <th>Data odbioru</th>
            <th>Godzina</th>
            <th>Status</th>
            <th>Data odebrania</th>
            <th>Data dodania wpisu</th>
        </tr>
        {% for donation in donations %}
            <tr class="donation--table--header">
                <td><a href="/donation/{{ donation.pk }}">{{ forloop.counter }}</a></td>
                <td>{{ donation.institution.name }}</td>
                <td>{{ donation.quantity }}</td>
                <td>
                    {% for category in donation.categories.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ donation.pick_up_date }}</td>
                <td>{{ donation.pick_up_time }}</td>
                    {% if donation.is_taken %}
                        <td style="color: greenyellow">Odebrano
                    {% else %}
                        <td style="color: red">Oczekuje
                    {% endif %}</td>
                <td>
                    {% if donation.is_taken == True %}
                        {{ donation.date_taken|date:"d E Y, H:i, l" }}
                    {% else %}
                        Nie odebrano
                    {% endif %}
                </td>
                <td>{{ donation.date_add }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}
